body {
  display: flex;
  background: url(../img/fish.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding: 15px;
}

.sidebar a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #495057;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.tablita {
  opacity: 0.8;
  width: 40%;
}

.tablitaa {
  opacity: 0.8;
  width: 90%;
}
.inputcat,
.inputModelo,
.inputMarca,
.inputAddpro {
  width: 40%;
  height: 35px;
}

/*botones de categoria*/
/* Estilos generales para los botones */
.btnmodificar,
.btneliminar,
.btnaddcat,
.btnModCat,
.btnmodsave,
.btnsave {
  padding: 5px 5px;
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  display: block; /* Asegura que los botones se coloquen uno debajo del otro */
  text-align: center; /* Centra el texto dentro del botón */
}

/* Opcional: Ajustar el tamaño del título */
.titlecat {
  font-size: 24px;
  margin-bottom: 10px; /* Espacio entre el título y la tabla */
}
